{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<form action="/polls/addgame/" method="POST">
  {% csrf_token %}
  <input type="submit" value="Add Game">
</form>

<form id="search_form" action="/polls/search/" method="GET">
  {% csrf_token %}
  <input id="search_query" placeholder="Search for a Game" name="search_string" type="text" value="{{request.GET.search_string}}">
  <input id="form_submit_button" style="display: none;" type="submit" value="Search">
</form>

<input id="submit_button" type="button" value="Search">

<!-- Oh shit it's a JQuery dependency -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>

  function submit_real_form(){
    let url = "/polls/search/" + document.getElementById("search_query").value;

    console.log(url)

    document.getElementById("search_form").setAttribute("action", url);

    document.getElementById("search_form").submit();
  }


  var preventSubmit = function(event) {
        if(event.keyCode == 13) {
            console.log("Nice knife");
            event.preventDefault();
            
            submit_real_form()

            return false;
        }
    }
    $("#search_form").keypress(preventSubmit);
    $("#search_form").keydown(preventSubmit);
    $("#search_form").keyup(preventSubmit);

document.getElementById("submit_button").addEventListener('click', submit_real_form, true);



</script>



<h1>Speedruns Unchained Community</h1>

{% if latest_Game_list %}
  <ul>
  {% for game in latest_Game_list %}
    <li><a href="/polls/{{ game.id }}/">{{ game.game_title }} ({{game.console}})</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No games match your search "{{ request.GET.search_string }}"</p>
{% endif %}