<h1>{{ game.game_title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' game.id %}" method="post">
{% csrf_token %}
{% for challenge in game.challenge_set.all %}
    <label>{{ challenge.upvotes }}</label>
    <input type="radio" name="challenge" id="challenge{{ forloop.counter }}" value="{{ challenge.id }}">
    <label for="challenge{{ forloop.counter }}">{{ challenge.challenge_title }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>